<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Wobbier</title>
        <description>Mitch Andrews' Blog</description>
        <atom:link href="http://www.wobbier.com/blog.rss" rel="self" type="application/rss+xml" />
        <link>http://www.wobbier.com/blog</link>
        <lastBuildDate><%= CGI.rfc1123_date Time.parse @posts.first.created_at %></lastBuildDate>
        <ttl>1800</ttl>
        
        <% @posts.each do |post| %>
            <item>
                <title><%= post.title %></title>
                <description><%= markdown post.content %></description>
                <link>http://www.wobbier.com<%= post.path %></link>
                <guid>http://www.wobbier.com<%= post.path %></guid>
                <pubDate><%= CGI.rfc1123_date Time.parse post.created_at %></pubDate>
            </item>
        <% end %>
    </channel>
</rss>